.meta-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  .meta-content {
    flex-grow: 1;

    .row {
      :nth-child(1),
      :nth-child(2) {
        padding-left: 0;
      }
    }
  }
}
